@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");

body {
  width: 100%;
  /* height: 100vh; */
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.skilled-dark-logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #13183f;
}
.dark-button {
  background: #13183f;
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  height: 48px;
  width: 140px;
  border: none;
  cursor: pointer;
}
.dark-button:hover {
  background: #666ca3;
}
main {
  padding: 16px;
}
footer {
  padding: 16px;
  background: #13183f;
}
.maximize {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.maximize-text-header {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #13183f;
}
.maximize-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}
.header-button {
  height: 56px;
  width: 167px;
  border-radius: 31.5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  border: none;
  cursor: pointer;
}
.header-button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.mobile-photo {
  margin-left: -50px;
  width: 100%;
}
/* padding-top: 46px;
max-width: 375px;
display: flex;
justify-content: center; */

.tablet-photo {
  display: none;
}
.card-containeres {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-header {
  width: 343px;
  height: 120px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  margin-bottom: 16px;
}
.card-header h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 24px;
  margin-left: 28px;
}
.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 343px;
  /* padding: 0 28px 32px 28px; */

  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
}
.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 28px;
}
.card h3 {
  height: 25px;
  width: 101px;
  color: #13183f;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}
.card p {
  height: 78px;
  width: 286px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  margin-top: 16px;
  margin-bottom: 24px;
}
.card-text-container button {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  border: none;
  background: none;
  font-family: "Plus Jakarta Sans";
  text-align: left;
  cursor: pointer;
  padding-bottom: 32px;
}

.card-icons {
  margin-top: -25px;
  height: 56px;
  width: 56px;
  margin-left: 28px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  height: 120px;
}
.skilled-light-logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
  margin-top: 43px;
}
.footer-button {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  height: 48px;
  width: 140px;
  border: none;
  margin-top: 36px;
  cursor: pointer;
}
.footer-button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

/* tablet size  version*/
@media screen and (min-width: 768px) {
  body {
    background-image: url("./assets/image-hero-tablet.png");
    background-repeat: no-repeat;
    background-position: top -58px right -288px;
    background-size: 640px 640px;
  }
  header {
    padding: 40px;
  }
  .maximize {
    width: 50%;
    flex-basis: 50%;
    padding-top: 105px;
  }
  .maximize-text-header,
  .maximize-text {
    padding-left: 24px;
  }
  /* .header-button {
    padding-left: 24px;
  } */
  .mobile-photo {
    display: none;
  }
  .tablet-photo {
    transform: translate(25%, -100px);
  }
  .card-containeres {
    margin-top: 186px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 11px;
    /* padding: 40px; */
    row-gap: 56px;
  }
  .card-header {
    height: 259px;
    width: 339px;

    border-radius: 10px;
  }
  .card {
    height: 259px;
    width: 339px;
  }
}

/* Desktop size  version*/
@media screen and (min-width: 1024px) {
  body {
    background-image: url(./assets/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-position: top -84px right -239px;
    background-size: 882px 772px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
    padding-right: 165px;
  }
  main {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-wrap: wrap;
  }
  #card-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    justify-content: space-between;
    align-items: center;
  }
  .card-header {
    /* width: 350px; */
    height: 322px;
    border-radius: 15px;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    flex-basis: 32%;
    /* margin-top: -4px; */
  }

  .card-header h2 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin-top: 28px;
    padding: 40px;
    /* margin: 0; */
  }
  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding: 12px;
    height: 298px;
    background: #ffffff;
    box-shadow: 0px 25px 50px rgb(6 22 141 / 4%);
    border-radius: 15px;
    flex-basis: 28%;
    justify-content: space-around;
    align-items: baseline;
  }
  .card p {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background: rgb(19, 24, 63);
    padding-left: 165px;
    padding-right: 165px;
    margin-top: 60px;
  }
  footer h2 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 46px;
  }
  .footer-button {
    margin-bottom: 32px;
  }
}
