@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");

body {
  width: 100%;
  /* height: 100vh; */
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  display: flex;
  flex-direction: column;
}
header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.skilled-dark-logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #13183f;
}
.dark-button {
  background: #13183f;
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  height: 48px;
  width: 140px;
  border: none;
}
main {
  padding: 16px;
}
footer {
  padding: 16px;
  background: #13183f;
}
.maximize {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.maximize-text-header {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #13183f;
}
.maximize-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}
.header-button {
  height: 56px;
  width: 167px;
  border-radius: 31.5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  border: none;
}
.mobile-photo {
  margin-left: -50px;
}
.card-containeres {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-header {
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  margin-bottom: 16px;
}
.card-header h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 24px;
  margin-left: 28px;
}
.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 28px 32px 28px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
}
.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card h3 {
  height: 25px;
  width: 101px;
  color: #13183f;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}
.card p {
  height: 78px;
  width: 286px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  margin-top: 16px;
  margin-bottom: 24px;
}
.card-text-container button {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  border: none;
  background: none;
  font-family: "Plus Jakarta Sans";
  text-align: left;
}

svg {
  margin-top: -25px;
}

/*
@media only screen and (max-width: 1439px) {
  .show-mobile-photo {
    display: none;
  }
}
1024 და ზემოთ როგორც წესი შეიძლება ჩაითვალოს დესკტოპად.
1024 ის ქვემოთ, 768 პს 1024 მდე ტაბლეტია..
კიდევ უფრო ქვემოთ მობაილი..

need to do tablet size and descktop versions
*/

/* 650px and larger, then apply any of the rule sets here 
@media only screen and (min-width: 650px) {
  .container{
    background-color: #f02aa6;
  }
}
not working will get back with this later
*/
