@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");

body {
  width: 100%;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
main {
  padding: 16px;
}
footer {
  padding: 16px;
  background: #13183f;
}
.maximize {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
