@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");

body {
  width: 100%;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  display: flex;
  flex-direction: column;
}
header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
main {
  padding: 16px;
}
footer {
  padding: 16px;
  background: #13183f;
}
.maximize {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.card-header {
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  margin-bottom: 16px;
}
.card {
  background-color: #ffffff;

  padding: 0 28px 32px 28px;
}
svg {
  margin-top: -50px;
}
