@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");

body {
  width: 100%;
  /* height: 100vh; */
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  display: flex;
  flex-direction: column;
}
header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.skilled-dark-logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #13183f;
}
.dark-button {
  background: #13183f;
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  height: 48px;
  width: 140px;
  border: none;
}
main {
  padding: 16px;
}
footer {
  padding: 16px;
  background: #13183f;
}
.maximize {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.maximize-text-header {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #13183f;
}
.maximize-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
}
.header-button {
  height: 56px;
  width: 167px;
  border-radius: 31.5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  border: none;
}
.mobile-photo {
  margin-left: -50px;
}
.card-containeres {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-header {
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  /* aq qvemot shesacvlelia */
  margin-bottom: 100px;
}
.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 0 28px 32px 28px;
}
.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
svg {
  margin-top: -50px;
}
